@model Forum.Models.Topic

@{
    ViewData["Title"] = "Details";
}

<div class="card">
    <div class="card-header d-flex justify-content-around bg-dark text-white">
        <h6>@Model.DateCreated</h6>
        <h5>@Model.Title</h5>
        <h6><a class="text-white" asp-action="Details" asp-controller="Users" asp-route-id="@Model.User.Id">@Model.User.UserName</a></h6>
    </div>
    <div class="card-body">
        <p class="card-text">@Model.Description</p>
    </div>
    <div class="d-flex"><a href="#" class="btn btn-dark ms-auto" data-bs-toggle="modal" data-bs-target="#replyModal">Ответить</a></div>
</div>

<div class="modal fade" id="replyModal" tabindex="-1" aria-labelledby="replyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="replyModalLabel">Ответить</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="answerForm">
                    <div class="form-group">
                        <textarea class="form-control" id="answerText" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary" id="sendAnswer">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="card mt-2 px-5 border-0" id="answersList">
</div>

<div class="d-flex justify-content-center mt-4">
    <button class="btn btn-secondary mx-2" id="prevPage">Предыдущая страница</button>
    <button class="btn btn-secondary mx-2" id="nextPage">Следующая страница</button>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            let currentPage = 1;
            let totalAnswers = @Model.Answers.Count;
            let pageSize = 2;

            function loadAnswers(page) {
                let topicId = @Model.Id;
                $.ajax({
                    url: '@Url.Action("GetAnswers", "Answers")',
                    method: 'GET',
                    data: { topicId: topicId, page: page },
                    success: function (data) {
                        if (data.trim() !== '') {
                            $('#answersList').html(data);

                            if (page > 1) {
                                $('#prevPage').show();
                            } else {
                                $('#prevPage').hide();
                            }

                            if ((page * pageSize) >= totalAnswers) {
                                $('#nextPage').hide();
                            } else {
                                $('#nextPage').show();
                            }
                        } else {
                            $('#prevPage, #nextPage').hide();
                            $('#answersList').html('<p>На этой странице нет ответов</p>');
                        }
                    }
                });
            }

            loadAnswers(currentPage);

            $('#prevPage').click(function () {
                if (currentPage > 1) {
                    currentPage--;
                    loadAnswers(currentPage);
                }
            });

            $('#nextPage').click(function () {
                currentPage++;
                loadAnswers(currentPage);
            });

            $('#answerForm').submit(function (event) {
                event.preventDefault();
                let text = $('#answerText').val();
                let topicId = @Model.Id;

                $.ajax({
                    url: '@Url.Action("Create", "Answers")',
                    method: 'POST',
                    data: { text: text, topicId: topicId },
                    success: function (data) {
                        $('#answerText').val('');
                        $('#replyModal').modal('hide');
                        totalAnswers++;
                        let totalPages = Math.ceil(totalAnswers / pageSize);
                        currentPage = totalPages;
                        loadAnswers(currentPage);
                    }
                });
            });

            setInterval(function () {
                let topicId = @Model.Id;

                $.ajax({
                    url: '@Url.Action("GetAnswers", "Answers")',
                    method: 'GET',
                    data: { topicId: topicId },
                    success: function (data) {
                        if (data.trim() !== '') {
                            $('#answersList').html(data);
                        }
                    }
                });
            }, 5000);
        });
    </script>
}